.answer-header {
  display: flex;
  justify-content: space-between
}

.answer-card {
  background-color: white;
  border-radius: 6px;
  padding: .5em;
  margin-bottom: 1em;
  color: black;
}

.answer-card:hover {
  -webkit-box-shadow: 4px 4px 4px -3px rgba(184,184,184,1);
  -moz-box-shadow: 4px 4px 4px -3px rgba(184,184,184,1);
  box-shadow: 4px 4px 4px -3px rgba(184,184,184,1);
}

.answer-likes {
  display: flex;
  flex-direction: column;
}

.answer-likes > * {
  align-self: center;
  margin: 0;
}

.answer-heart {
  transform: scale(0.7);
  margin-bottom: -.8em;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {

  .form-div {
    padding: 1em;
  }
  .answer-card {
    border: 1px solid lightgray;
    width: 100%;
  }
  .add-submit {
    width: 100%;
  }
  .no-activity {
    width: auto;
  }
}

@media only screen and (max-width: 770px) {

  .answer-card {
    width: 100%;
    border: 1px solid lightgray;
  }
  .no-activity {
    width: auto;
    padding: .8em;
  }
}

