.tabs-profile-collection {
  width: 100%;
}

.tab {
  cursor: pointer;
}

.profile-info {
  display: flex;
  width: 100%;
  margin: 1em;
  justify-content: space-between;
}

.profile-details {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  border-radius: 6px;
  padding: 1em;
}

.user-stars {
  text-align: center;
}

.profile-details > * {
  padding: .5em;
}

.user-activity {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  margin-top: 1em;
  background-color: white;
}


#vertical-tab-one {
  margin: auto;
}